@font-face {
    font-family: 'robotolight';
    src: url('../fonts/Roboto-Light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.main {
    text-align: center;
    font-family: 'robotolight';
}

.title {
    font-size: 47px;
}

.subtitle {
    font-size: 12px;
    font-style: italic;;
}